body {
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: .8em 0;
    text-align: center;
    background-color: #fae7e96e;
    justify-items: center;
}

h3 {
    font-style: italic;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10%;
    margin-bottom: -5px;
    margin-top: 5px;
}

#grid-container {
    display: grid;
    padding-left: 8%;
    padding-right: 8%;
    grid-template-columns:1fr 1fr 1fr;
    text-align: center;
}

button {
    background-color: rgba(218, 245, 213, 0.522);
    border: solid 1px rgb(106, 106, 106);
    color: rgb(60, 60, 60);
    font-size: 1em;
    font-family: 'Belleza', sans-serif;
    margin: 3px 5px 5px 5px;
}

button:hover {
    background-color: rgba(168, 247, 155, 0.522);
}

fieldset {
    border: none;
}

.radio-container {
    display: block;
    font-size: 1.2em;
}

